body {

    color: #FFFFFF;
    background-color: #12121C;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;

    font-family: sans-serif, monospace;
    font-smooth: never;
    -webkit-font-smoothing: none;

}

hr{

    border-color: #005C6F;

    margin: 10%;

}

th{
    font-size: 36px;

    padding-left:20px;
    padding-right: 20px;
}

a:link {
    text-decoration: none;
    color: palevioletred;
}
a:visited{
    color: palevioletred;
}
a:active{
    color: palegreen;
}
a:hover {
    color: pink;
}

.return{

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;

    text-align: center;

    margin-top: 15%;

    font-family: "Verdana";
    text-transform: uppercase;

}

/*-------------------------------------------------------------------------------*/

#image_404{
/*
    display: grid;
    justify-content: center;
    
    align-items: center;

    padding: 0%;
*/
    margin-top: 20%;
    margin-bottom:20%;

    text-align: center;

    /* CSS, I'm begging you here...*/

    font-family: monospace;

}

.Zoomer{

    margin:auto;

}

/*-------------------------------------------------------------------------------*/

#logo {

    display: flex;
    justify-content: center;

}

.logo {

    height: 320px;

}

#seriesLogo{

    padding-top: 24px;
    padding-bottom:24px;

}

#faq_SamusRender{
    display: flex;
    justify-content: center;
}


#navigation {

    text-transform: uppercase;
    font-family: "Consolas", sans-serif, monospace;
    text-align: center;
    font-size: 60px;
    font-weight: bold;

    word-spacing: 36px;

    background-color: #1c1c29;

    padding: 75px, 75px;
    margin-left: 36px;
    margin-right: 36px;

}
.nav_button {

    padding: 200px, 200px, 200px, 200px;

}

/*-------------------------------------------------------------------------------*/

#index_body {

    background-color: black;
    text-shadow: #005C6F;
    color: #00AFCF;

    line-height: 1.25;
    font-family: "Verdana";

    margin-top: 24px;
    margin-right: 36px;
    margin-bottom: 24px;
    margin-left: 36px;

    padding-top: 25px;
    padding-bottom: 50px;

}

.index_bodyHeader {
    display: flex;
    justify-content: center;

    padding-top: 25px;
    padding-bottom: 25px;

}
.index_bodyText1 {
    display: flex;
    justify-content: stretch;

    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;

    font-style: oblique;
}
.index_bodyText2 {
    display: block;
    justify-content: stretch;

    text-indent: 10mm;

    margin-top: 25px;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 25px;
    
}
.index_bodyText3 {
    display: block;
    justify-content: center;

    text-align: center;

    margin-top: 25px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 25px;
    
}
.index_bodyImage{
    display: block;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    padding-left: auto;
    padding-right: auto;

    text-align: center;
 
}

#missionContract{
    padding-top: 24px;
    padding-bottom: 24px;
}

.index_bodyPresentation{

    display: flexbox;
    justify-content: center;

    text-align: center;

    margin-top: 5%;
    margin-bottom: 5%;

}

.logoSVG_MSA{

    margin-top: 15%;

    filter: invert();

}

/*===============================================================================*/
#art_body {

    background-color: black;
    text-shadow: #005C6F;
    color: #00AFCF;

    line-height: 1.25;
    font-family: "Verdana";

    margin-top: 24px;
    margin-right: 36px;
    margin-bottom: 24px;
    margin-left: 36px;

    padding-top: 25px;
    padding-bottom: 50px;

}

.art_bodyHeader {
    display: flex;
    justify-content: center;

    padding-top: 25px;
    padding-bottom: 25px;

}
/*===============================================================================*/
#releases_body {

    background-color: black;
    text-shadow: #005C6F;
    color: #00AFCF;

    line-height: 1.25;
    font-family: "Verdana";

    margin-top: 24px;
    margin-right: 36px;
    margin-bottom: 24px;
    margin-left: 36px;

    padding-top: 25px;
    padding-bottom: 50px;

}

.releases_bodyHeader {
    display: flex;
    justify-content: center;

    padding-top: 25px;
    padding-bottom: 25px;

}

.releases_bodyText {
    display: flex;
    justify-content: center;

    padding-top: 25px;
    padding-bottom: 25px;

}

.releases_tableBody{

    display: grid;
    justify-content: center;

    text-align: center;
    line-height: 1.5;

    font-size: 18px;

}

.releases_tableHeader{

    text-transform: uppercase;

    margin-left: 25px;
    margin-right: 25px;

    padding-left: 5%;
    padding-right: 5%;

}

td{

    line-height: 1.5;

    margin-left: 25px;
    margin-right: 25px;

    padding-left: 50px;
    padding-right: 50px;

}

/*-- issues subdirectory --*/



/*===============================================================================*/

#faq_body {

    background-color: black;
    text-shadow: #005C6F;
    color: #00AFCF;

    line-height: 1.25;
    font-family: "Verdana";

    margin-top: 24px;
    margin-right: 36px;
    margin-bottom: 24px;
    margin-left: 36px;

    padding-top: 25px;
    padding-bottom: 50px;

}

.faq_bodyHeader {
    display: flex;
    justify-content: center;

    padding-top: 25px;
    padding-bottom: 25px;

}

.faqQuestion{
    margin-top: 50px;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 25px;
}

.faqAnswer1{

    margin-top: 0px;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 0px;

}
.faqAnswer2{

    text-indent: 10mm;

    margin-top: 0px;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 0px;
}
.faqAnswer2_funny{

    text-transform: uppercase;
    text-align: center;
    font-size: 3200%;

    margin-top: 0px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 0px;
}

/*======================================================*/

#pageInfo{

    color: #4d4d69;

    display: flex;
    justify-content: center;

    font-family: sans-serif, monospace;
    -webkit-font-smoothing: always;
    font-size: small;

    text-align: center;
    
    padding-top: 0%;
    padding-bottom: 25px;
}

.noAI_Disclaimer{
    
    padding-left: 2.5%;
    padding-right: 2.5%;

    margin: auto;

    line-height: 1.5;
}

.editedLast{
    
    padding-left: 2.5%;
    padding-right: 2.5%;

    margin: auto;

    line-height: 1.15;
}
.attributions{
    
    padding-left: 2.5%;
    padding-right: 2.5%;

    margin: auto;

    line-height: 1.5;
}
.questions{
    
    padding-left: 2.5%;
    padding-right: 2.5%;

    margin: auto;

    line-height: 1.5;
}
.pageHost{
    
    padding-left: 2.5%;
    padding-right: 2.5%;

    margin: auto;

    line-height: 1.5;
}
